.dashboard {
    height: auto;
    padding: 2rem 8rem;
    padding-bottom: 5rem;

    flex: 3;
    display: flex;
    flex-direction: column;

    &__header {
        margin-left: auto;
        display: flex;
        align-items: center;
    }

    .header__degree {
        font-weight: 700;
    }
}

