.weathers {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

@media only screen and (max-width: 1200px) {
  .weathers {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1000px) {
  .weathers {
    grid-template-columns: repeat(2, 1fr);
  }
}