@mixin ease-transition {
    transition: background-color ease-in-out 0.3s;
    -webkit-transition: background-color ease-in-out 0.3s;
    -o-transition: background-color ease-in-out 0.3s;
    -moz-transition: background-color ease-in-out 0.3s;
}

.App * {
    @include ease-transition;
}

.App {
    @include ease-transition;
    background-color: #FFFFFF;

    // Background
    .bg-primary { background-color: #FFFFFF; }
    .bg-secondary { background-color: rgba(79, 79, 79, 0.6); }

    // Icons
    .material-icons.default { color: #EB5757; }
    .material-icons.primary { color: #333333; }
    .material-icons.secondary { color: white; }
    .material-icons.tertiary { color: #4F4F4F; }

    // Fonts
    h1 { color: #333333; }

    h3 { color: #333333; }
    h3.primary { color: #4F4F4F; }
    h3.secondary { color: #828282; }
    h3.tertiary { color: white; }
    h3.light { color: #BDBDBD; }

    h4 { color: #4F4F4F; }

    h6 { color: #333333; }

    p { color: #333333; }

    // Buttons
    button.primary { background: #EB5757; }
    button.secondary { background: white; color: #828282; }

    // Shame
    .border-right {
        border-right: 1px solid hsla(36,10%,50%,0.15);
    }

    .tag__super-host {
        border: 1px solid #9E9E9E;
    }

    .box {
        background-color: #FFFFFF;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
    }

    .guests__btn button {
        border: 1px solid #828282;
    }
}

.App.dark {
    background-color:#181a1b;

    // Background
    .bg-primary { background-color:#181a1b; }
    .bg-secondary { background-color: rgba(79, 79, 79, 0.6); }
    

    // Icons
    .material-icons.default { color: #bdbdbd; }
    .material-icons.primary { color: #FFC107; }
    .material-icons.secondary { color: white; }
    .material-icons.tertiary { color: #bdbdbd; }

    // Fonts
    h1 { color: #FFFFFF; }

    h3 { color: #FFFFFF; }
    h3.primary { color: #FFFFFF; }
    h3.secondary { color: #9E9E9E; }
    h3.light { color: #FFFFFF; }

    h4 { color: #9E9E9E; }

    h6 { color: #FFFFFF; }

    p { color: #FFFFFF; }

    // Buttons
    button.primary { background: #EB5757; }
    button.secondary { background: #212121; color: #bdbdbd; }

    // Shame
    .border-right {
        border-right: 1px solid hsla(36,10%,50%,0.5);
    }

    .tag__super-host {
        border: 1px solid #4F4F4F;
    }

    .box {
        background-color: #212121;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    }
}