@mixin ease-transition {
    transition: background-color ease-in-out 0.3s;
    -webkit-transition: background-color ease-in-out 0.3s;
    -o-transition: background-color ease-in-out 0.3s;
    -moz-transition: background-color ease-in-out 0.3s;
}

.App {
    @include ease-transition;

    .input-text {
        @include ease-transition;
        color: #333333
    }
    
    .input-placeholder {
        @include ease-transition;
        color: #BDBDBD;
    }

    .mode-icon {
        @include ease-transition;
        color: #333333;
    }

    .box {
        @include ease-transition;
        background-color: #FFFFFF;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    }

    .right-border {
        @include ease-transition;
        border-right: 1px solid #F2F2F2;
    }

    // Card List
    .cardlist__header h1 {
        color: #333333;
    }

    .cardlist__header p {
        color: #4F4F4F;
    }

    .card__name {
        color: #333333;
    }

    .tag__super-host {
        border: 1px solid #4F4F4F;
    }

    .tag__info {
        color: #828282;
    }

    .rating__text {
        color: #4F4F4F;
    }

    .material-icons.default { color: #EB5757; }
}

.App.dark {
    background-color:#181a1b;

    .input-text {
        color: #FFFFFF;
    }

    .input-placeholder {
        color: white;
    }

    .mode-icon {
        color: #FFC107;
    }

    .box {
        background-color: #212121;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    }

    .right-border {
        border-right: 1px solid hsla(36,10%,50%,.06);
    }

    .material-icons.default { color: #bdbdbd; }

    // Card List
    .cardlist__header h1 {
        color: #FFFFFF;
    }

    .cardlist__header p {
        color: #FFFFFF;
    }

    .card__name {
        color: #FFFFFF;
    }

    .tag__super-host {
        color: #9E9E9E;
        border: 1px solid #9E9E9E;
    }

    .tag__info {
        color: #9E9E9E;
    }

    .rating__text {
        color: #9E9E9E;
    }

    .material-icons.rating__star {
        color: #FFC107;
    }
}