@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Mulish&family=Poppins:wght@700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    line-height: 1.25rem;
}

.input-text, .input-placeholder {
    font-family: 'Mulish';
    font-size: 0.8rem;
    font-weight: 400;
}

