@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Mulish:wght@400;500;600;700;800&family=Poppins:wght@700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    line-height: 1.25rem;
}

.mulish {
    font-family: 'Mulish';
}

// Font-size
h1 { font-size: 1.5rem; }
h3 { font-size: 0.9rem; }
h4 { font-size: 0.8rem; }
h5 { font-size: 0.7rem; }
h6 { font-size: 0.6rem; }
p { font-size: 1rem; }

// Font-weight
.bd-800 { font-weight: 800; }
.bd-700 { font-weight: 700; }
.bd-600 { font-weight: 600; }
.bd-500 { font-weight: 500; }
.bd-400 { font-weight: 400; }

// Text Align
.txt-left { text-align: left; }
.txt-right { text-align: right; }
.txt-center { text-align: center; }

.capitalize {
    text-transform: capitalize;
}