@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Mulish:wght@400;800&family=Poppins:wght@700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    line-height: 1.25rem;
}

.input__text, .input__placeholder {
    font-family: 'Mulish';
    font-size: 0.9rem;
    font-weight: 400;
}

.cardlist__header h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.cardlist__header p {
    font-size: 0.9rem;
    font-weight: 500;
}

.card__name {
    font-size: 1rem;
    font-weight: 600;
}

.tag__info {
    font-size: 0.9rem;
    font-weight: 500;
}

.tag__super-host {
    font-size: 0.75rem;
    font-weight: 700;
}

.rating__text {
    font-size: 0.9rem;
    font-weight: 500;
}

.input__label {
    font-family: 'Mulish';
    font-size: 0.6rem;
    font-weight: 800;
    text-transform: uppercase;
}
