.cardlist__header {
    display: flex;
    align-items: center;
}

.cardlist__header h3 {
    text-align: right;
}

.cardlist {
    margin: 2rem 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 6rem;
}

@media only screen and (max-width: 1000px) {
  .cardlist {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 1300px) {
    .cardlist {
        grid-gap: 2rem 2rem;
    }
}