.card {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    cursor: pointer;
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    border-radius: 24px;
    height: 18rem;
    object-fit: cover;
}

.card__name {
    margin: 0.8rem 0;
}

// Tags
.card__tag-list {
    margin-top: 0.8rem;

    display: flex;
    align-items: center;
}

.tag__super-host {
    width: 10rem;
    height: 2rem;
    margin-right: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
}

.tag__super-host {
    display: none;
}

.tag__rating {
    width: 5rem;

    display: flex;
    align-items: center;
}

.tag__rating span {
    margin-right: 0.4rem;
}

@media only screen and (max-width: 1000px) {
    .card {
        padding: 0rem;
    }

    .card img {   
        height: 23rem;
    }
}

@media only screen and (max-width: 800px) {
    .card img {   
        height: 17rem;
    }
}

@media only screen and (max-width: 500px) {
    .card img {   
        height: 15rem;
    }
}